/* Footer
   ----------------------------------------------------------------- */

.l-footer {

  background: red;

  @media all and (orientation: landscape) {
    background: green;
  }

  @include mq(medium) {

    background: blue;

    @media all and (orientation: landscape) {
      background: yellow;
    }

  }

  @include mq(large) {
    background: #EFEFEF;
  }

}