- var news = "is-news"
- var pageId = "news"
- var relativePath = "../"
doctype html
html(lang="ja")
  include ../common/_head.pug
  body
    include ../common/_header.pug

    h1 ニュースページ

    main
      p ニュースページ

    .test ブロック

    section
        h2 セクション見出しセクション見出しセク

    include ../common/_footer.pug