- var dir = "is-active__news"
- var pageId = "news-it"
- var relativePath = "../../"
doctype html
html(lang="ja")
  include ../../common/_head.pug
  body
    include ../../common/_header.pug

    h1 ニュースITページ

    main
      p ニュースITページ
      ul
          li テスト
          li テスト

    include ../../common/_footer.pug