header.l-header ヘッダー
  nav
    ul.c-navi
      li: a(href=`${relativePath}`) トップページ
      li: a(href=`${relativePath}news/` class=`c-navi ${dir}`) ニュースページ
    p: img(src=`${relativePath}images/surfer-2212948_640.jpg` width="640" height="369" alt="画像")